

.submit {
  font-family: 'Helvetica';
  font-size: 20px;
  color: blueviolet
}



table {
  width: 80%; /* Width of the table */
  margin: 0 auto; /* Center the table on the page */
  border-collapse: collapse; /* Remove the cell borders */
}

th {
  background-color: #4CAF50; /* Green background for the table header */
  color: white; /* White text color for the table header */
  text-align: left; /* Left align the text in the header */
  padding: 12px; /* Add some padding to the header cells */
  font-size: 18px; /* Increase the font size of the header */
}

td {
  border: 1px solid #ddd; /* Add a border to the table cells */
  padding: 12px; /* Add some padding to the cells */
  text-align: left; /* Left align the text in the cells */
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Add a background color to every other row */
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #ff1616;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.menu-bar {
  justify-content: space-between;
  align-items: left;
  background-color: #D1AC4C;
  color: #fff;
  padding: 10px;
  font-weight: normal;
  font-family: helvetica;
  font-size: medium;
}

.menu-bar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}


body {
  background-color: #055674;
  color:white;
}

#footer {
  display:inline-block;
 width:100%;
 height:1em;
 padding: 2em 0.25em;
 text-align: center;
 font-size: x-small;
  color: white;
}