<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Horoscope App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>
<span style="float:right;">
    {% if user.username %}
        <span class="large-font">Hello {{ user.username }}!</span><br>
        <a href="{% url 'logout' %}"><button>logout</button></a>
    {% else %}
        <span class="large-font">Hello Guest User!</span><br>
        <a href="{% url 'login' %}"><button>login</button></a>/
        <a href="{% url 'register_user' %}"><button>register</button></a>
    {% endif %}
</span>

<div id="header">
<img src='{% static "myapp/logo.png" %}' alt="logo image" width="300px"></div>


<div class="menu-bar">
  <a href=home><i class="fas fa-home"></i> Home</a>
  <a href="userform"><i class="fas fa-sharp fa-solid fa-heart-circle-check"></i>Find your match</a>
  <a href="horoscopeinfo"><i class="fa-solid fa-star"></i>Learn about horoscopes</a>
    <a href = "userinfo"><i class="fas fa-solid fa-users"></i>Our users</a>
</div>


<body>


{% block content %}
<-- This is where the page content will go! -->
{% endblock %}
<br>
<br>
<div id="footer">
©2023 CJ, Inc. All Rights Reserved.
</div>
</body>
</html>