{% extends "base.html" %}
{% block content %}
 <div class="jumbotron text-center">
 <p>Welcome to Starcrossed</p>
 </div>
 <div class="container">
 <div class="row">
 <div class="col-sm-4">
 <h3>Your perfect match is written in the stars</h3>
 <p>Using this app, you can get exchange rates easily!</p>
 </div>
 <div class="col-sm-4">
 <h3>Burned by too many Scorpios? Us too.</h3>
 <p> Please choose an action from the following options
 <p>
 <a href="{% url 'maintenance' %}">Do maintenance</a><br>
 Get rates<br>
 Other stuff<br></p>
 </div>

     <div class="col-sm-4">
 <h3>Navigation</h3>
 <p> Please choose an action from the following options
 <p>
 <a href="{% url 'maintenance' %}">Do maintenance</a><br>
 Get rates<br>
 Other stuff<br></p>
 </div>
 </div>
 </div>
{% endblock %}