{% extends "base.html" %}
{% block content %}
 <div class="jumbotron text-center">

 <p class="welcome">Welcome to StarCrossed</p></div>

 <div class="container">
 <div class="row">
      <div class="col-sm-4">
 <h3>Tired of getting matched with incompatible partners?</h3>
     <p> StarCrossed provides you with Astrological Compatibility Insights, empowering you to create more meaningful relationship in today's fast-paced world.</p>
 </div>
 <div class="col-sm-4">
 <h3>Find and connect with your most compatible match!</h3>
 <p>Get connected to your match through their social media account and take your relationship off from there!</p>
 </div>
     <div class="col-sm-4">
 <h3>Get to know what your Zodiac says about you!</h3>
 <p> Learn more about the typical characteristics of each Zodiac sign! Get valuable insights to understanding your crush, friends and even yourself!</p>
 </div>
{% endblock %}