{% extends "base.html" %}
{% block content %}

    <div class="container">
<head>
    <title>User Input Form</title>
    <link rel="stylesheet" type="text/css" href="styles.css">


</head>


<h1>User Input Form</h1>
<br>
  <body>
    <form method="POST" action="{% url 'userform' %}">
      {% csrf_token %}
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <br>
        <br>

       <label for="instagram">Instagram Handle:</label>
        <input type="text" id="instagram" name="instagram" required>
      <br>
        <br>

      <label for="horoscope">Select your horoscope:</label>
      <select id="horoscope" name="horoscope" required>
        <option value="Aquarius">Aquarius</option>
        <option value="Pisces">Pisces</option>
        <option value="Aries">Aries</option>
        <option value="Taurus">Taurus</option>
        <option value="Gemini">Gemini</option>
        <option value="Cancer">Cancer</option>
        <option value="Leo">Leo</option>
        <option value="Virgo">Virgo</option>
        <option value="Libra">Libra</option>
        <option value="Scorpio">Scorpio</option>
        <option value="Sagittarius">Sagittarius</option>
        <option value="Capricorn">Capricorn</option>
      </select>
      <br>
      <input type="submit" value="Find my match!">
        <br>
    </form>

<h1>
{% if compatible_user %}
    <p>Your compatible person's name is {{ compatible_user.name }} and their horoscope is {{ compatible_user.horoscope }}. Slide into their DMs on Instagram at: {{ compatible_user.instagram }}</p>
{% endif %}
</h1>

    <div>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
</div>

  </body>

    </div>
{% endblock %}