<!DOCTYPE html>
<html>
<head>
    <title>Scraped Zodiac</title>
</head>
<body>
    <h1>Scraped Zodiac Table</h1>
    <table>
        {{ table|safe }}
    </table>

<h1>Zodiac Signs</h1>
<table>
 <tr>
 <th>Sign</th>
 <th>Symbol</th>
 <th>Planet</th>
 <th>Element</th>
 <th>Quality</th>
 </tr>
 {% for zodiac in zodiac_list %}
 <tr>
 <td>{{ zodiac.sign }}</td>
 <td>{{ zodiac.symbol }}</td>
 <td>{{ zodiac.planet }}</td>
 <td>{{ zodiac.element }}</td>
 <td>{{ zodiac.quality }}</td>
 </tr>
 {% endfor %}
</table>
</body>
